.smart-form-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.smart-form-column {
  padding-right: 40px;

  &.last-column {
    padding-right: 0;
  }

  &.horizontal {
    .smart-form-form-item {
      .ant-form-item-label {
        width: 120px;
      }
      .ant-form-item-control-wrapper {
        width: calc(100% - 120px);
      }
    }

  }
  .ant-form-item {
    margin-bottom: 0;
  }
}

.smart-form-object-title, .smart-form-array-title {
  font-size: 1.2em;
}
.smart-form-object-title {
  border-bottom: 1px solid #DDD;
}

.smart-form-object-item {
  width: 100%;
  padding: 10px 20px 0;
}

.smart-form-array-item-ctn {
  position: relative;
  border: 1px solid #DDD;
  margin: 10px 0;

  >.mover {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0px;
    padding-right: 3px;
    font-size: 20px;
    font-weight: 500;
    cursor: move;
    z-index: 99;
  }

  .smart-form-array-item {
    width: 100%;
    padding: 10px 20px 0;
  }
  .smart-form-array-item-buttons {
    text-align: right;
    margin: 4px;
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translate(50%, -50%);
  }
}